header {
    display: flex;
    justify-content: center;
    padding: 30px 3px;
}
 
.header__contents {
    width: 50%;
}
.header__contents:first-child span {
    margin-left: 10px;
    font-size: 30px;
}
.header__contents:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}
.header__contents a {
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: 13px;
    background-color: skyblue;
    padding: 20px 30px;
}